@charset "UTF-8";
.white { color: #fff !important; }

.bg-pink { background: pink !important; }

/* =================== base =================== */
html, body, a, abbr, address, area, article, aside, audio, b, base, bdi, bdo, blockquote, button, canvas, caption, center, circle, cite, clipPath, code, col, colgroup, cursor, data, datalist, dd, defs, del, desc, details, dfn, dialog, div, dl, dt, ellipse, em, embed, fieldset, figcaption, figure, filter, footer, foreignObject, form, g, h1, h2, h3, h4, h5, h6, hatch, hatchpath, head, header, hgroup, i, iframe, image, img, input, ins, kbd, keygen, label, legend, li, line, link, main, map, mark, marker, mask, menu, menuitem, mesh, meshpatch, meshrow, nav, object, ol, optgroup, option, output, p, param, path, pattern, picture, pre, progress, q, rb, rect, rp, rt, rtc, ruby, s, samp, section, select, set, small, source, span, strike, strong, sub, summary, svg, symbol, sup, table, tbody, td, template, text, textarea, textPath, tfoot, th, thead, time, title, tr, tspan, u, ul, use, video, view, wbr { margin: 0; padding: 0; border: 0; line-height: 1.15; vertical-align: baseline; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Noto Sans KR", sans-serif; letter-spacing: -0.04em; stroke-width: 0; word-break: keep-all !important; }

th { word-break: normal !important; }

html { -webkit-tap-highlight-color: transparent; -webkit-text-size-adjust: 100%; font-size: 16px; scroll-behavior: smooth; }

a { background-color: transparent; text-decoration: none; cursor: pointer; }

ol, ul, dl { list-style: none; }

select { padding: 5px 10px; }

/* ie 화살표 제거 */
select::-ms-expand { display: none; }

address { font-style: normal; }

table { border-collapse: collapse; border-spacing: 0; }

.hidden, .blind, .hd-element { display: block; overflow: hidden; position: absolute; left: -10000000000000000px; top: -999999px; width: 0; height: 0; font-size: 1px; }

.hide-txt { display: inline-block; overflow: hidden; position: absolute; width: 1px; height: 1px; font-size: 1px; line-height: 0; clip: rect(1px, 1px, 1px, 1px); }

/* =================== typo =================== */
/* ---------- noto sans kr ---------- */
@font-face { font-family: "Noto Sans KR"; font-weight: 800; src: local("noto sans kr black"), local("Noto Sans KR Black"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.ttf") format("truetype"), url("../fonts/NotoSansKR-Black.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 600; src: local("noto sans kr bold"), local("Noto Sans KR Bold"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.ttf") format("truetype"), url("../fonts/NotoSansKR-Bold.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 500; src: local("noto sans kr medium"), local("Noto Sans KR Medium"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.ttf") format("truetype"), url("../fonts/NotoSansKR-Medium.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 400; src: local("noto sans kr regular"), local("Noto Sans KR Regular"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.ttf") format("truetype"), url("../fonts/NotoSansKR-Regular.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 300; src: local("noto sans kr light"), local("Noto Sans KR Light"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.ttf") format("truetype"), url("../fonts/NotoSansKR-Light.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 200; src: local("noto sans kr demilight"), local("Noto Sans KR DemiLight"), url("../fonts/NotoSansKR-DemiLight.woff2") format("woff2"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff"), url("../fonts/NotoSansKR-DemiLight.ttf") format("truetype"), url("../fonts/NotoSansKR-DemiLight.otf") format("opentype"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 100; src: local("noto sans kr thin"), local("Noto Sans KR Thin"), url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.ttf") format("truetype"), url("../fonts/NotoSansKR-Thin.otf") format("opentype"); }

@font-face { font-family: "gmarket"; font-weight: 600; src: local("gmarket bold"), local("gmarket bold"), url("../fonts/GmarketSansTTFBold.woff") format("woff"), url("../fonts/GmarketSansTTFBold.ttf") format("truetype"), url("../fonts/GmarketSansBold.otf") format("opentype"); }

@font-face { font-family: "gmarket"; font-weight: 500; src: local("gmarket Medium"), local("gmarket Medium"), url("../fonts/GmarketSansTTFMedium.woff") format("woff"), url("../fonts/GmarketSansTTFMedium.ttf") format("truetype"), url("../fonts/GmarketSansMedium.otf") format("opentype"); }

@font-face { font-family: "gmarket"; font-weight: 300; src: local("gmarket light"), local("gmarket light"), url("../fonts/GmarketSansTTFLight.woff") format("woff"), url("../fonts/GmarketSansTTFLight.ttf") format("truetype"), url("../fonts/GmarketSansLight.otf") format("opentype"); }

@font-face { font-family: "GmarketSansMedium"; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff"); font-weight: normal; font-style: normal; }

h1 { font-size: 1.375rem !important; font-family: "Noto Sans KR"; font-weight: 600; margin-bottom: 18px; }

h2 { font-size: 2.2rem !important; font-family: "Noto Sans KR"; font-weight: 600; margin-bottom: 18px; }

h3 { font-size: 2rem !important; font-family: "Noto Sans KR"; font-weight: 600; margin-bottom: 18px; }

h4 { font-size: 1.8rem !important; font-family: "Noto Sans KR"; font-weight: 600; margin-bottom: 18px; }

h5 { font-size: 1.6rem !important; font-family: "Noto Sans KR"; font-weight: 600; margin-bottom: 18px; }

/* =================== helper =================== */
.none { display: none; }

.is-mon { font-family: "Montserrat", sans-serif; }

.is-gma { font-family: "gmarket", sans-serif; }

.is-tab-show { display: none; }

@media all and (max-width: 900px) { .is-tab-show { display: block; } }

@media all and (max-width: 900px) { .is-tab-hide { display: none; } }

.is-mo-show { display: none; }

@media all and (max-width: 600px) { .is-mo-show { display: block; } }

@media all and (max-width: 600px) { .is-mo-hide { display: none; } }

.is-mo-sm-show { display: none; }

@media all and (max-width: 360px) { .is-mo-sm-show { display: block; } }

@media all and (max-width: 360px) { .is-mo-sm-hide { display: none; } }

.is-mo-xsm-show { display: none; }

@media all and (max-width: 320px) { .is-mo-xsm-show { display: block; } }

@media all and (max-width: 320px) { .is-mo-xsm-hide { display: none; } }

.img-box__img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.clear:after { content: ""; display: block; clear: both; }

.scroll-custom { overflow-y: auto; }

.scroll-custom::-webkit-scrollbar { width: 5px; }

form .option-container input:checked + label:after { background-color: #5f8ee4; content: ""; display: block; width: 10px; height: 10px; position: absolute; top: 1.2em; left: 1em; border-radius: 1px; }

form .option-container input[type="radio"] + label:before { border-radius: 9px; }

form .option-container input[type="radio"]:checked + label:after { border-radius: 6px; }

table { width: 100%; font-family: "Open Sans", Arial, sans-serif; font-size: 0.9rem; color: #19191a; }

table thead tr { background-color: lightgray; border-radius: 4px; overflow: hidden; text-transform: uppercase; font-weight: 600; }

table thead tr th { padding: 15px 20px; }

table thead tr:first-child th:first-child { border-radius: 10px 0 0 0; }

table thead tr:first-child th:last-child { border-radius: 0 10px 0 0; }

table tbody tr { cursor: pointer; border-bottom: 1px solid lightgray; }

table tbody tr td { padding: 15px 20px; }

table tbody tr td .btn { padding: 0.2em 1.2em; margin: 0 0.2em; display: inline-block; font-size: 0.9rem; }

table tbody tr:nth-child(even) { background-color: #ededed; }

table tbody tr:hover { background-color: #759de8; color: #ffffff; }

table tfoot tr { background-color: lightgray; border-radius: 4px; overflow: hidden; text-transform: uppercase; font-weight: 600; }

table tfoot tr td { padding: 15px 20px; }

table tfoot tr td:first-child { border-radius: 0 0 0 10px; }

table tfoot tr td:last-child { border-radius: 0 0 10px 0; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }

html, body { background-color: #ffffff; color: #19191a; }

.guide section .colors .box { border: 1px solid #e6e6e6; border-radius: 6px; }

h1.masterTitle { text-align: center; text-transform: uppercase; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6); }

.guide { font-family: Arial, sans-serif; padding: 20px; }

.guide section { margin-bottom: 40px; }

.guide section > h2 { font-size: 1.5rem; margin-bottom: 20px; padding: 8px 10px; background-color: #f2f2f2; border: 1px solid #ebebeb; border-radius: 8px; }

.guide section > h2 .number { color: #888; }

.guide section > h2 .text { margin-left: 4px; font-weight: bold; text-transform: uppercase; }

.guide section > h2:before, .guide section > h2:after { content: ""; display: table; }

.guide section > h2:after { clear: both; }

.guide section .content { margin: 0px 2rem; }

.guide section .flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; }

.guide section .colors .box { width: 150px; height: 150px; margin: 5px 20px; padding: 2px; }

.guide section .colors .box .main { float: left; width: 100%; height: 90px; }

.guide section .colors .box .light { float: left; width: 50%; height: 30px; }

.guide section .colors .box .dark { float: right; width: 50%; height: 30px; }

.guide section .colors .box .code { float: left; width: 100%; position: relative; margin-top: 5px; }

.guide section .colors .box .code:after { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; width: 100%; text-align: center; font-family: "Consolas"; color: #19191a; }

.guide section .colors .box.box1 .main { background-color: #5f8ee4; }

.guide section .colors .box.box1 .light { background-color: #759de8; }

.guide section .colors .box.box1 .dark { background-color: #497fe0; }

.guide section .colors .box.box1 .code:after { content: "#5f8ee4"; }

.guide section .colors .box.box2 .main { background-color: #19191a; }

.guide section .colors .box.box2 .light { background-color: #262627; }

.guide section .colors .box.box2 .dark { background-color: #0d0d0d; }

.guide section .colors .box.box2 .code:after { content: "#19191a"; }

.guide section .colors .box.box3 .main { background-color: #82b31e; }

.guide section .colors .box.box3 .light { background-color: #92c922; }

.guide section .colors .box.box3 .dark { background-color: #729d1a; }

.guide section .colors .box.box3 .code:after { content: "#82B31E"; }

.guide section .colors .box.box4 .main { background-color: #e0e0e0; }

.guide section .colors .box.box4 .light { background-color: #ededed; }

.guide section .colors .box.box4 .dark { background-color: lightgray; }

.guide section .colors .box.box4 .code:after { content: "#e0e0e0"; }

.guide section .colors .box.box5 .main { background-color: #ffffff; }

.guide section .colors .box.box5 .light { background-color: white; }

.guide section .colors .box.box5 .dark { background-color: #f2f2f2; }

.guide section .colors .box.box5 .code:after { content: "#ffffff"; }

.guide section .buttons { margin-bottom: 20px; }

.btn { background: #5f8ee4; border: none; border-radius: 0.4em; -webkit-box-shadow: none; box-shadow: none; cursor: pointer; font: 1.1rem "Open Sans", Arial, sans-serif; color: #ffffff; }

.btn-bg-green { background-color: #06a89f; color: #fff !important; }

.btn-bg-yellow { background-color: #b6b665; color: #fff !important; }

.btn-bg-red { background-color: red; color: #fff !important; }

.btn-sm { padding: 10px 20px; }

.btn-mid { padding: 10px 30px; }

.btn-lg { padding: 10px 50px; }

.btn-bd-sm { border-radius: 5px; }

.btn.btn-outline { background: transparent; border: 1px solid #5f8ee4; color: #333 !important; }

.btn.btn-disabled { opacity: 0.6; cursor: default; }

form input[type="text"] { border: 2px solid #e0e0e0; border-radius: 4px; padding: 0.5rem 0.7rem; width: 100%; background: #fffc; color: #191919; font-size: 1rem; padding-top: 2rem; }

form input[type="text"]:focus { border-color: #5f8ee4; outline: 0; }

form fieldset { margin-bottom: 1rem; }

form fieldset legend { display: block; color: #191919; font-size: 1rem; font-weight: 600; margin-bottom: 0.5rem; }

form .input-container { position: relative; margin-bottom: 1rem; }

form .input-container label { display: block; color: #333; font-size: 1rem; font-weight: 600; margin-bottom: 0.5rem; text-transform: uppercase; position: absolute; left: 0.85rem; top: 0.65rem; }

form .input-container.input-container-valid input[type="text"] { border: 2px solid #82c451; }

form .input-container.input-container-valid label { color: #82c451; }

form .input-container.input-container-error input[type="text"] { border: 2px solid #ff797c; }

form .input-container.input-container-error label { color: #ff797c; }

form .option-container { position: relative; width: 100%; }

form .option-container input { display: none; }

form .option-container input:checked + label:after { background-color: #5f8ee4; content: ""; display: block; width: 10px; height: 10px; position: absolute; top: 50%; -webkit-transform: translateY(-4px); transform: translateY(-4px); border-radius: 1px; }

form .option-container label { width: 100%; display: block; height: 50px; font-size: 1rem; padding-left: 2.4rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

form .option-container label:before { content: ""; display: block; width: 16px; height: 16px; position: absolute; top: 50%; -webkit-transform: translateY(-8px); transform: translateY(-8px); left: 0.75rem; background: #fff; border: 1px solid lightgrey; border-radius: 2px; -webkit-box-shadow: 0 0 1px lightgray, 0 0 1px lightgray inset; box-shadow: 0 0 1px lightgray, 0 0 1px lightgray inset; }

.form-input-group-wrap { display: block; border-left: none; border-right: none; border-top: 1px solid #333; border-bottom: none; }

.form-input-group-wrap .form-input-group dl { display: table; width: 100%; table-layout: fixed; border-bottom: 1px solid #ccc; word-break: break-all; }

.form-input-group-wrap .form-input-group dl dt { display: table-cell; vertical-align: middle; width: 220px; min-height: 36px; height: 100%; background-color: #f7f7f7; border-right: 1px solid #ccc; padding: 8px 20px; color: #555; font-family: "Noto Sans"; font-weight: bold; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form-input-group-wrap .form-input-group dl dd { display: table-cell; vertical-align: middle; min-height: 36px; background-color: #fff; padding: 8px 12px; }

.form-radio label:before { display: inline-block; width: 16px; height: 16px; border: 1px solid #ddd; background: #fff; border-radius: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; line-height: 18px; }

.form-radio label:before, .form-radio label:after { content: ''; position: absolute; left: 0; top: 0; }

.form-radio > input:checked + label:before { background-color: #fff; border-color: #ccc; }

.form-input, .form-select, .sbiz .form-radio label:before, .sbiz .form-check label:before { border: 1px solid #333; }

.form-radio { display: inline-block; position: relative; margin: 8px 10px 8px 0; min-height: 18px; line-height: 1; vertical-align: middle; }

.form-radio label span { display: inline-block; padding-left: 28px; vertical-align: top; }

.form-input, .form-select, .btn { width: 174px; padding: 0 10px; max-width: 100%; height: 36px; line-height: 36px; /* padding: 0 10px; */ -webkit-box-sizing: border-box; box-sizing: border-box; }

button[id="btnShow"] { background: none; margin-left: 0.2rem; display: inline-block; padding: 10px 10px; background: #eee; height: 100%; }

.form-input.short { width: 109.5px; }

.form-input.w30 { width: 90px; }

.form-input.w20 { width: 65px; }

.form-input.w50 { width: 173px; }

.field-main-wrap__mid__right .flex-all-center:hover, .field-main-wrap-bot__item:hover { position: relative; top: -10px; }

.flex { display: -webkit-box; display: -ms-flexbox; display: flex; }

.flex-all-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.poa-y-center { position: relative; }

.poa-y-center > div { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.poa-x-center { position: relative; }

.poa-x-center > div { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.poa-all-center { position: relative; }

.poa-all-center > div { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }

.flex-w50 { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -0.625rem; }

.flex-w50 > * { -webkit-box-flex: 1; -ms-flex: 1 1 50%; flex: 1 1 50%; max-width: 50%; margin: 0 .625rem; }

.flex-w33 { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -0.625rem; }

.flex-w33 > * { -webkit-box-flex: 1; -ms-flex: 1 1 33%; flex: 1 1 33%; max-width: 33%; margin: 0 .625rem; }

.flex-w20 { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 -0.625rem; }

.flex-w20 > * { -webkit-box-flex: 1; -ms-flex: 1 1 20%; flex: 1 1 20%; max-width: 20%; margin: 0 .625rem; }

.flex-al-center { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.flex-al-start { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }

.flex-al-end { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.flex-jc-around { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -ms-flex-pack: distribute; justify-content: space-around; }

.flex-jc-bt { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.content-location { display: block; position: relative; list-style: none; padding: .9375rem 0; background: #f3f4f6; }

.content-location .content-location-inner { display: block; overflow: hidden; width: 100%; }

.content-location .content-location-inner > ul { display: block; float: right; }

.content-location .content-location-inner > ul > li { color: #666; float: left; list-style: none; margin-right: .5rem; line-height: 1.4; font-size: 1.1rem; }

.content-location .content-location-inner > ul > li:after { color: #666; content: ">"; display: inline-block; padding-left: .5rem; }

.content-location .content-location-inner > ul > li.last { text-decoration: underline; font-weight: 500; color: #333; }

.content-location .content-location-inner > ul > li.last:after { display: none; }

.content-location .content-location-inner > ul:after { display: block; clear: both; content: ""; }

.sub-lnb { display: inline-block; margin: 0; margin-top: 2.6875rem; position: relative; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.sub-lnb > li { overflow: hidden; text-align: right; float: left; width: 12.3694rem; border: .0625rem solid #e8e8e8; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }

.sub-lnb > li a { display: block; vertical-align: middle; padding: 1.525rem 0; color: #606060; letter-spacing: 0; line-height: .875rem; font-size: 1.0625rem; font-weight: 600; color: #565656; -webkit-transition: all 0.7s; transition: all 0.7s; text-decoration: none; }

.sub-lnb > li a:hover { color: #fff; background: #0055a2; }

.sub-lnb > li.on { color: #fff; background: #0055a2; }

.sub-lnb > li.on > a { color: #fff; background: #0055a2; text-decoration: none; }

.com-page { background: #f3f3f3; padding-top: 6.25rem; padding-bottom: 9.4375rem; font-size: 16px; }

.com-page.bg-fff { background: #fff; }

.com-page.pt-sm { padding-top: 4.25em; }

.com-page__left { opacity: 1; }

.com-page__right { opacity: 1; width: calc(74.625em - 14.375em); }

.com-page__right-tit { opacity: 1; padding-bottom: 0.8125em; border-bottom: 0.125em solid #ddd; }

.com-page__right ul { position: relative; opacity: 1; display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 1.875em; }

.com-page__right ul:after { content: ""; display: block; width: 0.5em; height: 0.5em; background: #0055a2; position: absolute; left: 0; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); top: 57% !important; }

.com-page__right ul li { position: relative; opacity: 1; color: #565656; margin-right: 1.875em; font-size: 1.25em; font-weight: 500; }

.com-page__right ul li:last-of-type:after { content: ""; display: block; display: none; }

.com-page__right ul li:after { content: ""; display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: -0.9375em; width: 0.3125em; height: 0.3125em; border-top: 3px solid #979797; border-right: 3px solid #979797; display: inline-block; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.com-page__right ul li span { opacity: 1; }

.left-menu { opacity: 1; width: 280px; /* margin-top: 66px; */ padding: 0 40px; padding-top: 66px; /* position: fixed; */ top: 80px; bottom: 0; border-right: 1px solid #DDDDDD; -webkit-box-flex: 0; -ms-flex: 0 0 280px; flex: 0 0 280px; height: 100vh; }

.left-menu__list { opacity: 1; }

.left-menu__tit { opacity: 1; /* height: 2em; */ font-size: 1.625em; font-weight: 600; padding-bottom: 0.75em; border-bottom: 1px solid #000; }

.left-menu__item { opacity: 1; }

.left-menu__item.is-active { opacity: 1; }

.left-menu__item.is-active .left-menu__sub-list { display: block; padding: 0.625em; background: #fafafa; opacity: 1; }

.left-menu__item.is-active .left-menu__link::after { top: 60%; -webkit-transform: rotate(315deg); transform: rotate(315deg); }

.left-menu__link { position: relative; opacity: 1; display: inline-block; height: 3.125em; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; /* padding-left: .6875em; */ border-bottom: 0.125em solid #eee; color: #333333; font-size: 1.1625em; font-weight: 500; }

.left-menu__link:after { content: ""; display: block; width: 0.3125em; height: 0.3125em; border-top: 3px solid #979797; border-right: 3px solid #979797; display: inline-block; -webkit-transform: rotate(135deg); transform: rotate(135deg); position: absolute; right: 1.875em; -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; top: 50%; margin-top: -0.4375em; }

.left-menu__link:hover { color: #0055a2; }

.left-menu__sub-list { display: none; }

.left-menu__sub-item { opacity: 1; margin-bottom: 0.65em; }

.left-menu__sub-link { opacity: 1; font-size: 1.03rem; }

.left-menu__sub-link.is-active { font-size: 1.0375em; color: #0055a2; font-weight: bold; text-decoration: underline; }

.section-footer { padding-bottom: 2rem; }

.section-wrap { margin-bottom: 1.5rem; background: #fff; padding: .625rem 1.25rem; border-radius: 10px; }

.section-head { display: block; position: relative; padding: 1.25rem 0; border-bottom: .0625rem solid #333333; margin-top: 1rem; }

.section-head h4 { padding-left: 2.5rem; position: relative; }

.section-head h4:after { content: ""; display: block; width: 1.625rem; height: 1.375rem; background-image: url("../img/blt-h4.png"); background-position: center; background-size: cover; background-repeat: no-repeat; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 0; }

.section-body .list-table th { font-size: 1.1rem; }

.section-body .table-h { max-height: 17rem; overflow-y: scroll; border-bottom: 1px solid #aaa; }

.empty { margin-top: 1rem; padding: 2rem 0; background: #eee; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: center; align-content: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.empty > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.empty p { margin-top: 1rem; font-size: 1.3em; }

.pre.auto { padding: 1.5rem; overflow-x: hidden; overflow-y: auto; height: 300px; line-height: 1.5; background: #f5f5f5; }

.pre.auto .txt-wrap .txts { font-size: 1.3rem !important; margin-bottom: 1rem !important; line-height: 1.6; }

.agree-wrap { padding: 2rem; border: 1px solid #aaa; background: #f7f7f7; margin-top: 2rem; }

.agree-wrap > div > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.agree-wrap input[type="checkbox"] { width: 1.3rem; height: 1.3rem; margin-right: .5rem; }

/* =================== header =================== */
/* =================== footer =================== */
.section-wrap, .field-main-wrap-top__right ul li:hover .txt-list, .field-main-wrap__mid__right .flex-all-center:hover, .field-main-wrap-bot__item:hover { -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); }

.left-menu__sub-link:hover, .notice-list__link:hover { font-weight: bold; text-decoration: underline; text-underline-position: under; }

.banner__img a { display: inline-block; }

.banner__img img { width: 100%; height: 22.375rem; -o-object-fit: cover; object-fit: cover; }

.banner-btn-wrap { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); bottom: 0.9375rem; z-index: 10; }

.banner-btn-wrap .banner-btn { display: inline-block; width: 2.1875rem; height: 2.1875rem; background: rgba(0, 0, 0, 0.7); cursor: pointer; position: relative; }

.banner-btn-wrap__prev:after { content: ""; display: block; position: absolute; top: 50%; margin-top: -0.375rem; left: 50%; margin-left: -0.375rem; height: 0.75rem; width: 0.75rem; border-top: 0.0625rem solid #fff; border-right: 0.0625rem solid #fff; -webkit-transform: rotate(225deg) translate(-3px, 2px); transform: rotate(225deg) translate(-3px, 2px); }

.banner-btn-wrap__stop:before { content: ""; display: block; position: absolute; top: 50%; margin-top: -0.625rem; left: 50%; margin-left: -0.28125rem; height: 1.25rem; width: 0.5625rem; background-image: url("../img/icon-pause.png"); background-position: center; background-size: cover; background-repeat: no-repeat; background-position: "center"; background-size: cover; background-repeat: no-repeat; }

.banner-btn-wrap__start:before { content: ""; display: block; position: absolute; top: 50%; margin-top: -0.625rem; left: 50%; margin-left: -0.375rem; height: 1.25rem; width: 0.75rem; background-image: url("../img/icon-play.png"); background-position: center; background-size: cover; background-repeat: no-repeat; background-position: "center"; background-size: cover; background-repeat: no-repeat; }

.banner-btn-wrap__next:after { content: ""; display: block; position: absolute; top: 50%; margin-top: -0.375rem; left: 50%; margin-left: -0.375rem; height: 0.75rem; width: 0.75rem; border-top: 0.0625rem solid #fff; border-right: 0.0625rem solid #fff; -webkit-transform: rotate(45deg) translate(-3px, 2px); transform: rotate(45deg) translate(-3px, 2px); }

.tab-wrap { opacity: 1; }

.tab-wrap .tab { width: 100%; opacity: 1; border-bottom: 0.0625rem solid #D5D5D5; margin-bottom: 1.625rem; }

.tab-wrap .tab__list { opacity: 1; }

.tab-wrap .tab__item { position: relative; opacity: 1; height: 2.6875rem; display: inline-block; margin-right: 1.875rem; font-size: 1.375rem; font-weight: 600; color: #8F8F8F; opacity: 0.55; }

.tab-wrap .tab__item.is-active { color: #000; opacity: 1; }

.tab-wrap .tab__item.is-active:after { content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 110%; height: 0.1875rem; background: #00B1FF; }

.notice-list__item { opacity: 1; margin-bottom: 0.875rem; }

.notice-list__link { opacity: 1; font-size: 1rem; color: #333; max-width: 30rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 19.2px; height: 19.2px; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */ }

.notice-list__date { opacity: 1; font-size: 0.875rem; color: #818181; }

.field-main-wrap { margin-top: 2.5rem; padding-bottom: 1.75rem; }

.field-main-wrap-top__right ul li { display: -webkit-box; display: -ms-flexbox; display: flex; height: 5.2188rem; margin-bottom: 0.5313rem; border: 0.0625rem solid #d5d5d5; }

.field-main-wrap-top__right ul li:hover { border: 0.125rem solid #0070BD; }

.field-main-wrap-top__right ul li:hover .lef { background: #0070BD; border-right: 0.0625rem solid #0070BD; }

.field-main-wrap-top__right ul li:hover .lef span { color: #fff !important; }

.field-main-wrap-top__right ul li:hover .txt-list { background: #EDF3F7 !important; }

.field-main-wrap-top__right ul li:last-of-type { margin-bottom: 0; }

.field-main-wrap-top__right ul li .lef { -webkit-box-flex: 1; -ms-flex: 1 1 10.125rem; flex: 1 1 10.125rem; background: #f3f3f3; border-right: 0.0625rem solid #d5d5d5; padding-left: 1rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-main-wrap-top__right ul li .lef .tit { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-main-wrap-top__right ul li .lef .tit img { width: 1.75rem; height: 1.75rem; -o-object-fit: cover; object-fit: cover; }

.field-main-wrap-top__right ul li .lef .tit span { margin-left: 0.5rem; font-size: 1.125rem; color: #333333; font-weight: 500; }

.field-main-wrap-top__right ul li .ref { -webkit-box-flex: 1; -ms-flex: 1 1 75%; flex: 1 1 75%; height: 100%; }

.field-main-wrap-top__right ul li .ref .txt-list { padding-left: 1.125rem; width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-main-wrap-top__right ul li .ref .txt-list a { position: relative; display: inline-block; font-size: 0.9375rem; color: #333333; margin-right: 1rem; }

.field-main-wrap-top__right ul li .ref .txt-list a:hover { font-weight: bold; text-decoration: underline; text-underline-position: under; }

.field-main-wrap-top__right ul li .ref .txt-list a:last-of-type { margin-right: 0; }

.field-main-wrap-top__right ul li .ref .txt-list a:last-of-type::after { display: none; }

.field-main-wrap-top__right ul li .ref .txt-list a:after { content: ""; display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: -0.5rem; width: 0.0625rem; height: 0.875rem; background: #a2a2a2; }

.field-main-wrap-top__left { position: relative; }

.field-main-wrap__mid { margin-top: 2.8125rem; }

.field-main-wrap__mid .flex-w33 > div { margin: 0 0.25rem; }

.field-main-wrap__mid__right .flex-w33 { margin: 0 -0.25rem; }

.field-main-wrap__mid__right .poa-y-center { height: 11.75rem; background: #D6F8F7; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(2) { background: #D1F9CD !important; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(2) .bar { background: #9BD495 !important; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(2) p { color: #4B7946 !important; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(3) { background: #DBDFFF !important; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(3) .bar { background: #9CA3E1 !important; }

.field-main-wrap__mid__right .poa-y-center:nth-of-type(3) p { color: #2C3476 !important; }

.field-main-wrap__mid__right .text-center { width: 100%; }

.field-main-wrap__mid__right .text-center img { display: inline-block; margin-bottom: 1.0625rem; width: 3.5rem; height: 3.5rem; -o-object-fit: cover; object-fit: cover; }

.field-main-wrap__mid__right .text-center .bar { width: 9.9375rem; height: 0.125rem; background: #93D2D1; margin-bottom: 0.75rem; }

.field-main-wrap__mid__right .text-center p { font-size: 1.25rem; font-weight: 500; color: #00676A; line-height: 1.3; min-height: 3.25rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.field-main-wrap__mid__right .flex-all-center { top: 0; -webkit-transition: all 0.4s; transition: all 0.4s; }

.field-main-wrap-bot { margin-top: 2.5rem; }

.field-main-wrap-bot__list { margin: 0 -0.5rem !important; }

.field-main-wrap-bot__item { margin: 0 0.25rem !important; height: 4.0625rem; background: #fff; border: 0.0625rem solid #D5D5D5; border-radius: 0.3125rem; -webkit-transition: all 0.4s; transition: all 0.4s; top: 0; }

.field-main-wrap-bot__item:hover { background: #EFEFEF; }

.field-main-wrap-bot__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.field-main-wrap-bot__icon { display: inline-block; margin-right: 0.4375rem; }

.field-main-wrap-bot__txt { font-size: 1rem; font-weight: 500; color: #333333; }

.field-main-wrap-bot__txt.let { letter-spacing: -0.125rem; }

body { min-height: 187.5rem; }

.inner { max-width: 73.125rem; margin: 0 auto; }

.bot-banner { padding: 1.5625rem 0; background: #EFEFEF; }

.bot-banner__wrap { background: #fff; }

.bot-banner__list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.bot-banner__item { width: 20%; max-width: 20%; }

.bot-banner__logo img { display: inline-block; width: 13.125rem; height: 3.75rem; -o-object-fit: cover; object-fit: cover; }

@media (max-width: 1200px) { html { font-size: 15px; }
  html, body { overflow-x: hidden; }
  .inner { padding: 0 10px; } }

@media (max-width: 900px) { html { font-size: 14px; }
  .flex-w50 { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; display: block; }
  .banner__img a { display: block; }
  .banner__img img { height: auto; }
  .flex-w50 > * { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; }
  .field-main-wrap-top__left, .field-main-wrap__mid__left { margin-bottom: 2rem; }
  .flex-w20 { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .flex-w20 > * { -webkit-box-flex: 1; -ms-flex: 1 1 32.1%; flex: 1 1 32.1%; max-width: 32.1%; }
  .field-main-wrap-bot__item { margin-bottom: 0.5rem !important; }
  .bot-banner__item { width: 50%; max-width: 50%; text-align: center; } }

@media (max-width: 600px) { html { font-size: 13px; }
  .flex-w20 > * { -webkit-box-flex: 1; -ms-flex: 1 1 48.2%; flex: 1 1 48.2%; max-width: 48.2%; }
  .bot-banner__item { -webkit-box-flex: 1; -ms-flex: 1 1 46.2%; flex: 1 1 46.2%; max-width: 46.2%; }
  .notice-list__link { max-width: 21rem; }
  .field-main-wrap-top__right ul li .lef .tit span { font-size: 1rem; }
  .field-main-wrap-top__right ul li .ref .txt-list a { text-align: center; line-height: 1.3; } }

@media (max-width: 400px) { .flex-w20 > * { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; }
  .bot-banner__item { -webkit-box-flex: 1; -ms-flex: 1 1 42%; flex: 1 1 42%; max-width: 42%; margin-bottom: 0.5rem; }
  .flex-w33 { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .flex-w33 > * { -webkit-box-flex: 1; -ms-flex: 1 1 100%; flex: 1 1 100%; max-width: 100%; }
  .field-main-wrap__mid .flex-w33 > div { margin-bottom: 0.5rem; }
  .field-main-wrap__mid__right .poa-y-center { height: 7.75rem; }
  .field-main-wrap__mid__right .text-center img { width: 2.5rem; height: 2.5rem; margin-bottom: 0.5rem; }
  .field-main-wrap__mid__right .text-center .bar { margin-bottom: 0; } }
/*# sourceMappingURL=ui.css.map */